<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Ano Bissexto</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<section>
		<div>
			<form method="POST">
				<label>Ano:</label>
				<input type="number" name="year" id="year" min="1582">
				<input type="submit" name="submit" id="submit" value="Verificar">
			</form>
			{% if result %}
				<p>{{ result }}</p>
			{% endif%}
		</div>
	</section>
	<footer>
		
	</footer>
</body>
</html>